*.txt
spica/spica/
pg_start_debug.log
Start-MultiShop-Launcher.bat
*.css
*.eot
*.svg
*.woff
*.ttf
*.html
*.png
!docs/screenshots/**
*.jpg
!docs/screenshots/**
*.map
*.js
MultiShop-master/MultiShop-master/Frontends/MultiShop.WebUI/wwwroot/lib/bootstrap/LICENSE
*.ico
*.woff2
MultiShop-master/MultiShop-master/Frontends/MultiShop.WebUI/wwwroot/MainDownload-OvioAdmin-html5-template/html/app/et-line-font/fonts/.DS_Store
*.otf
*.scss
